VITE_FIREBASE_API_KEY=AIzaSyCrsCfOjXpnKnZssiKvS4jgGy74hch0GGs
VITE_FIREBASE_AUTH_DOMAIN=body-track-a303b.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=body-track-a303b
VITE_FIREBASE_STORAGE_BUCKET=body-track-a303b.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=737015437369
VITE_FIREBASE_APP_ID=1:737015437369:web:97420fd87f5d2b801815e8
VITE_FIREBASE_MEASUREMENT_ID=G-7NCTT9BXL7
